
sudo cp sentinel.plist /Library/LaunchDaemons/

sudo launchctl load -w /Library/LaunchDaemons/sentinel.plist
sudo launchctl start -w /Library/LaunchDaemons/sentinel.plist



