#file:/usr/lib/systemd/system/sentinel.service
[Unit]
Description=Sentinel Sentry Service

[Service]
Restart=always
Environment="LD_LIBRARY_PATH=/usr/libexec/sentinel/runtime/lib"
Environment="PATH=/usr/libexec/sentinel/runtime/bin:/usr/bin:/usr/sbin:/bin:/sbin"
WorkingDirectory=/usr/libexec/sentinel/python
ExecStart=/usr/libexec/sentinel/python/sentinel.py sentry

[Install]
WantedBy=multi-user.target

